.accolades {
  background-color: #edf0f2;
  font-family: "Libre Franklin", sans-serif;
  height: 100%;
  padding-top: 5vh;
  padding-bottom: 8vh;
  display: flex;
  justify-content: center;
}

.container {
    width: 1340px;
}

h1 {
    font-size: 70px;
    margin-bottom: 5vh;
    letter-spacing: -5px;
}

.accolade-title {
  height: 10vh;
  display: flex;
  align-items: center;
}

img {
  height: 100%;
  width: 25%;
  object-fit: cover;
}

h2 {
  font-size: clamp(11px, 80%, 16px);
  text-align: center;
  text-transform: uppercase;
}

.whole-accolade {
  width: 22%;
}

p {
    font-size: clamp(10px, 80%, 16px);
    text-align: center;
    color: #606060;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5vh;
    column-gap: 2vw;
}

@media screen and (max-width: 1440px) {
    section {
        column-gap: 2vw;
    }
    img {
        height: 80%
    }
    h2 {
        font-size: clamp(11px, 70%, 16px);;
    }
}

@media screen and (max-width: 1024px) {
    img {
        height: 100%;
    }
    section {
        justify-content: space-around;
    }
    .whole-accolade {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
     .accolades {
        width: 100%;
        padding: 0 5vw;
     }
}

@media screen and (max-width: 650px) {
    .whole-accolade {
        width: 40%;
    }
    .container {
        padding-bottom: 5vh;
    }
}

@media screen and (max-width: 500px) {
    .whole-accolade {
        width: 50%;
    }
    h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    .whole-accolade {
        width: 70%;
    }
    .accolades {
        padding: 0;
    }
    .container {
        padding: 0vh 5vw 5vh;
    }
}

@media screen and (max-width: 375px) {
    .accolades {
        padding: 0 8vw;
    }
    .container {
        width: 100%;
    }

}