
  #navBar {
    position: fixed;
    width: 8vw;
    box-shadow: 1px 0px 10px black;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .body {
    height: 80vh;
    padding: 10vh 8vh 0vh;
  }

