.bio {
    background-color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    padding-left: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
}

.img {
    width: 40%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.text {
    width: 40%;
    text-align: end;

}

.divider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid #fff;
    margin-bottom: 5vh;
    gap: 2vw;
}

.divider_title {
    text-transform: uppercase;
}

.divider_content {
    width: 70%;
    text-align: left;
}

@media screen and (max-width: 1440px) {
    img {
        object-position: 30% 50%;
    }
    .container {
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 1024px) {
    img {
        width: 100%;
    }
    .img {
        width: 100vw;
        height: 50%;
        padding: 0 0 5vh 0;
    }
    .bio {
        padding: 0;
    }
    .text {
        width: 100vw;
    }
    .divider {
        margin: 0 5vw 5vh;
    }
}

@media screen and (max-width: 768px) {
    .bio {
      width: 100%; 
      padding: 10vh 5vw;
    }
    .divider {
        flex-direction: column;
        margin: 0 5vw 2vh;
    }
    .text {
        text-align: start;
    }
    .divider_content {
        width: 100%;
        font-size: 14px;
    }
    .divider_title {
        font-size: 18px;
    }
    .img {
        padding: 0 0 2vh 0;
    }
}

@media screen and (max-width: 450px) {
    .bio {
      padding: 0vh 0vw 0vh;
      height: unset;
    }
    .container {
        height: fit-content;
    }
  }

@media screen and (max-width: 425px) {
    .divider_content {
        font-size: 12px;
    }
    .divider_title {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    .body {
      padding: 0 8vw;
    }
  }