.edu {
    background-color: var(--bg-color);
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 3vh;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1440px;
}

h1 {
    text-transform: capitalize;
    font-size: clamp(50px, 400%, 85px);
    margin: 0 0 10px 0;
    letter-spacing: -3px;
}

.text {
    width: 40%;
}

.card {
    width: 60%;
}

.description {
    font-size: clamp(15px, 130%, 30px);
    font-weight: 100;
    line-height: 1.4;
    width: 80%;
    color: #606060;
}

.qualification {
    border-top: 1px solid #000;
}

.qualification_institution {
    color: #606060;
    letter-spacing: 0px;
    font-size: 14px;
}

.qualification_title {
    margin-bottom: 0;
    font-size: 18px;
}

.qualification_description {
    color: #606060;
    letter-spacing: 0px;
    font-size: 16px;
    margin-top: 3vh;
}

@media screen and (max-width: 1440px) {
    .edu {
        padding: 10vh 8vw;
    }
}

@media screen and (max-width: 1300px) {
    .text {
        width: 100%;
        margin-bottom: 5vh;
    }
    .description {
        width: 100%;
    }
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .edu {
        padding: 10vh 5vw;
        width: 100%;
    }
    .container {
        padding: 0vh 5vw;
    }
    .card {
        width: 100%;
    }
    .qualification_title {
        font-size: clamp(10px, 140%, 30px);
    }
}

@media screen and (max-width: 500px) {
    .edu {
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .edu {
        padding: 0;
    }
    .container {
        padding: 5vh;
    }
}

@media screen and (max-width: 375px) {
    .body {
      padding: 0 8vw;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
  }