.heroContent {
  border: 2px solid white;
  height: 70%;
  width: 50%;
  border-bottom: 0;
  padding: 1vh 3vw 1vh 1vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: end;
  align-items: end;
}

#main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/1678862323981-transformed.jpeg");
  background-repeat: no-repeat;
  height: clamp(900px, 70vh, 2000px);
  background-size: cover;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0 5vw;
}

.jobTitle {
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: #000 3px 3px 7px;
}

h1,
p {
  font-size: 5em;
  white-space: nowrap;
  text-shadow: #000 3px 3px 7px;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e25454;
}

.arrowsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrows {
  width: 80px;
  height: 80px;
  position: relative;
}

.arrows:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 26.6667px solid rgba(255, 255, 255, 0.7);
  border-bottom: 26.6667px solid rgba(255, 255, 255, 0.7);
  transform: translate(26.6667px, 106.6667px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}

.arrows:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 26.6667px solid rgba(255, 255, 255, 0.7);
  border-bottom: 26.6667px solid rgba(255, 255, 255, 0.7);
  transform: translate(53.3333px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 26.6667px solid rgba(255, 255, 255, 0);
    border-bottom: 26.6667px solid rgba(255, 255, 255, 0);
    transform: translate(-13.3333px, -53.3333px) rotate(-45deg);
  }
  10%,
  90% {
    border-left: 26.6667px solid rgba(255, 255, 255, 0);
    border-bottom: 26.6667px solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: 26.6667px solid rgba(255, 255, 255, 0.7);
    border-bottom: 26.6667px solid rgba(255, 255, 255, 0.7);
    transform: translate(-13.3333px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 26.6667px solid rgba(255, 255, 255, 0);
    border-bottom: 26.6667px solid rgba(255, 255, 255, 0);
    transform: translate(-13.3333px, 53.3333px) rotate(-45deg);
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1024px;
  }
  h1,
  p {
    font-size: 3.5em;
  }
  .heroContent {
    gap: 15vh;
  }
  .jobTitle {
    font-size: 19px;
  }
}

@media screen and (max-width: 1024px) {
  .heroContent {
    min-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .heroContent {
    width: 100%;
    min-width: auto;
  }
  .container {
    width: 100%;
  }
  #main {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .jobTitle {
    font-size: 1.2em;
  }
  h1,
  p {
    font-size: 12vw;
  }
  .jobTitle {
    font-size: 3vw;
  }
}

@media screen and (max-width: 450px) {
  .arrows {
    width: 10vw;
    height: 10vw;
  }
  #main {
    height: clamp(100px, 60vh, 1000px);
    padding: 0;
  }
  .heroContent {
    gap: 5vh;
    width: 90%;
  }
  .container {
    justify-content: center;
  }
  h1 {
    font-size: 11vw;
  }
}

@media screen and (max-width: 375px) {
  .arrows:before {
    border-left: 10px solid rgba(255, 255, 255, 0.7);
    border-bottom: 10px solid rgba(255, 255, 255, 0.7);
    transform: translate(10px, 80px) rotate(-45deg); /* Consistent with keyframes */
  }

  .arrows:after {
    border-left: 10px solid rgba(255, 255, 255, 0.7);
    border-bottom: 10px solid rgba(255, 255, 255, 0.7);
    transform: translate(40px, 0) rotate(-45deg); /* Ensure alignment matches */
  }
}
