.intro {
  display: flex;
  font-family: "Libre Franklin", sans-serif;
  justify-content: center;
  padding: 0 8vh 10vh 8vh;
  background-color: var(--bg-color);
  height: auto;
}

.container {
  width: 1440px;
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

.text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bookmark {
  background-color: var(--bm-bg-color);
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  min-width: 30%;
  gap: 1vh;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 5px #7c7c7c;
}

#bookmark a p {
  font-size: var(--bm-font-size);
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: var(--bm-font-color);
  text-decoration: underline;
}

.intro_portrait {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: 50% 0%;
}

h1 {
  font-size: clamp(30px, 330%, 55px);
  letter-spacing: -3px;
}

p {
  font-size: 13px;
  margin: 0;
}

.intro_portrait > p {
  text-transform: uppercase;
  margin-top: 10px;
}

.statement {
  font-size: clamp(13px, 120%, 18px);
}

@media screen and (max-width: 1440px) {
  .body {
    padding: 0 2vw 10vh;
  }
  .container {
    width: 1300px;
  }
  h1 {
    font-size: clamp(30px, 270%, 55px);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro {
    padding: 10vh 8vw 0vh;
    height: auto;
  }
  .text {
    width: 80%;
  }
  .intro_portrait {
    width: 80%;
    justify-content: flex-start;
  }
  #bookmark {
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
    padding: 10vh 5vw 0vh;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    padding: 10vh 0vw 0vh;
    height: unset;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 5vh 0;
  }
  .text {
    width: 95%;
  }
  .intro_portrait {
    width: 95%;
  }
  .statement {
    font-size: clamp(13px, 90%, 17px);
  }
  .container {
    gap: 2vh;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    padding: 0 8vw;
  }
  #bookmark {
    border-radius: 0px 0px 10px 10px;;
  }
}
