.work {
  background-color: var(--bg-color);
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  padding-top: 8vh;
  padding-bottom: 10vh;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

h1 {
  font-size: clamp(50px, 500%, 140px);
  text-align: end;
  letter-spacing: -7px;
  margin-top: 0;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 5vh;
  column-gap: 1vw;
  padding-bottom: 5vh;
}

.job-title {
  font-weight: bold;
  font-size: clamp(15px, 120%, 25px);
  line-height: normal;
  height: 6vh;
}

.work-experience-card {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* margin: 15px; */
  max-width: 400px;
  transition: box-shadow 0.3s ease-in-out;
  width: clamp(200px, 25%, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-experience-card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  border-color: #ffffff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.card-header .job-title {
  font-size: 18px;
  font-weight: bold;
  height: auto;
}

.company-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.card-header .job-duration {
  font-size: 10px;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 2%;
  }
  h1 {
    font-size: clamp(40px, 4vw, 120px);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 1350px) {
  .work-experience-card {
    width: clamp(200px, 40%, 600px);
  }
  .card-section {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .card-section {
    justify-content: center;
    row-gap: 5vh;
    column-gap: 2vw;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .work {
    width: 100%;
    padding: 8vh 5vw;
  }
  .card-section {
    align-items: center;
    row-gap: 3vh;
  }
  .company-name {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .work-experience-card {
    box-sizing: border-box;
    width: 200px;
    padding: 1vh;
  }
  .work {
    padding: 8vh 0;
  }
  .card-header .job-title {
    font-size: 12px;
  }
  .company-name {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .work {
    padding: 8vh 0;
  }
  .work-experience-card {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    padding: 2vh 1vh;
    align-items: center;
    gap: 0.5vh;
    min-height: 12vh;
    background-color: transparent;
    border: 0;
  }
  .card-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 0.3vh;
  }
  .company-details {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: contents;
    margin: 0;
  }
  .company-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
  }
  .company-name {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.2;
  }
  .card-header .job-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.2;
  }
  .job-duration {
    font-size: 12px;
    margin: 0;
    color: #ccc;
  }
}

@media screen and (max-width: 375px) {
  .work {
    padding: 5vh 8vw;
  }
  .work-experience-card {
    padding: 2%;
    border-radius: 8px;
    width: 100%;
  }
  .card-header .job-title {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    /* font-size: clamp(16px, 8vw, 50px); */
    text-align: center;
    margin-bottom: 1rem;
  }
  .card-header .company-logo {
    width: 30px;
    height: 30px;
  }
  .card-header .job-duration {
    font-size: 7px;
  }
  .work-experience-card {
    padding: 10px;
    width: 95%;
    gap: 1vh;
  }
}
