<div class="accolades body">
    <div class="container">
        <h1>Accolades</h1>
        <section>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                    research
                    projects.</p>
                </div>
                <div class="whole-accolade">
                    <div class="accolade-title">
                        <img src="/assets/leftWreath.png" />
                        <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                        <img src="/assets/rightWreath.png" />
                    </div>
                    <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                        research
                        projects.</p>
                    </div>
                    <div class="whole-accolade">
                        <div class="accolade-title">
                            <img src="/assets/leftWreath.png" />
                            <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                            <img src="/assets/rightWreath.png" />
                        </div>
                        <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                            research
                            projects.</p>
                        </div>
                        <div class="whole-accolade">
                            <div class="accolade-title">
                                <img src="/assets/leftWreath.png" />
                                <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                                <img src="/assets/rightWreath.png" />
                            </div>
                            <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                                research
                                projects.</p>
                            </div>
                            <div class="whole-accolade">
                                <div class="accolade-title">
                                    <img src="/assets/leftWreath.png" />
                                    <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                                    <img src="/assets/rightWreath.png" />
                                </div>
                                <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                                    research
                                    projects.</p>
                                </div>
                                <div class="whole-accolade">
                                    <div class="accolade-title">
                                        <img src="/assets/leftWreath.png" />
                                        <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                                        <img src="/assets/rightWreath.png" />
                                    </div>
                                    <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                                        research
                                        projects.</p>
                                    </div>
                                    <div class="whole-accolade">
                                        <div class="accolade-title">
                                            <img src="/assets/leftWreath.png" />
                                            <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                                            <img src="/assets/rightWreath.png" />
                                        </div>
                                        <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in world-class
                                            research
                                            projects.</p>
                                        </div>
                                    </section>
                                </div>
                            </div>