<div class="accolades body">
    <div class="container">
        <h1>Accolades</h1>
        <section>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Vice Chancellors Future Research Leader Award (2017)</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Awarded by Leicester Business School, De Montfort University, recognizing her leadership in
                    world-class
                    research
                    projects.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Established and Led a Multidisciplinary Research Centre</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Founded the Centre for Research in Accountability, Governance, and Sustainability (CRAGS) at
                    Leicester Business School, fostering collaboration and advancing research on sustainability and
                    corporate governance.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>ACCA and CIMA Accreditation for BSc Accounting & Finance (2019)</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Successfully secured professional accreditation for the program at SOAS University of London within
                    four months, significantly increasing student enrollment.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Best Female Accounting Graduate Prize (1990)</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Honoured by the Society of Women Accountants of Nigeria as the top female graduate in her accounting
                    class at Ogun State University.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Published in Highly-Ranked International Journals</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Authored numerous papers in top-tier academic journals, including Accounting Auditing and Accountability Journal (AAAJ), Accounting Forum, Business and Society, and
                    the International Journal of Accounting, making significant contributions to research in sustainability,
                    corporate governance, and transparency.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>Supervised Doctoral Theses to Completion</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Successfully supervised several PhD students, with one thesis winning the Best Thesis Award from the
                    Faculty of Business and Law at De Montfort University.</p>
            </div>
            <div class="whole-accolade">
                <div class="accolade-title">
                    <img src="/assets/leftWreath.png" />
                    <h2>International Speaker and Contributor</h2>
                    <img src="/assets/rightWreath.png" />
                </div>
                <p>Delivered over 50 academic research papers, conference presentations, and guest lectures globally,
                    including the Academy of Management Annual Meeting (USA) and the European Accounting Association.</p>

            </div>
        </section>
    </div>
</div>