<div class="articles body" *ngIf="articles$ | async as articles">
    <div class="container">
        <section class='article-container' *ngFor="let article of articles.items">
            <div id="header">
                <h1>{{article.fields.title}}</h1>
            </div>
            <section class="article-cards">
                <div class="article" *ngFor="let articleCard of article.fields.articleCards">
                    <img [src]="articleCard.fields.image.fields.file.url" />
                    <h2 class="title">{{articleCard.fields.title}}</h2>
                    <div class="source">
                        <p>{{articleCard.fields.publicationName}}</p>
                        <p>{{articleCard.fields.doi}}</p>
                    </div>
                    <p>{{articleCard.fields.description.content[0].content[0].value}}</p>
                    <a [href]="articleCard.fields.articleUrl">
                        <button>Read More</button>
                    </a>
                </div>
            </section>
        </section>
    </div>
</div>