<div class="articles body">
    <div class="container">
        <div id="header">
            <h1>Press</h1>
            <div id="bookmark">
                <p>Google Scholar Webpage - Articles and Citations</p>
                <p>ResearchGate webpage</p>
            </div>
        </div>
        <section>
            <div class="article">
                <img src="/assets/width_800.png" />
                <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                <div class="source">
                    <p>Business & Society, May 2019, SAGE Publications</p>
                    <p>DOI: 10.1177/0007650319843623
                    </p>
                </div>
                <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                    language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                    qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                    <button>Read More</button>
                </div>
                <div class="article">
                    <img src="/assets/width_800.png" />
                    <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                    <div class="source">
                        <p>Business & Society, May 2019, SAGE Publications</p>
                        <p>DOI: 10.1177/0007650319843623
                        </p>
                    </div>
                    <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                        language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                        qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                        <button>Read More</button>
                    </div>
                    <div class="article">
                        <img src="/assets/width_800.png" />
                        <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                        <div class="source">
                            <p>Business & Society, May 2019, SAGE Publications</p>
                            <p>DOI: 10.1177/0007650319843623
                            </p>
                        </div>
                        <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                            language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                            qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                            <button>Read More</button>
                        </div>
                        <div class="article">
                            <img src="/assets/width_800.png" />
                            <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                            <div class="source">
                                <p>Business & Society, May 2019, SAGE Publications</p>
                                <p>DOI: 10.1177/0007650319843623
                                </p>
                            </div>
                            <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                                language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                                qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                                <button>Read More</button>
                            </div>
                            <div class="article">
                                <img src="/assets/width_800.png" />
                                <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                                <div class="source">
                                    <p>Business & Society, May 2019, SAGE Publications</p>
                                    <p>DOI: 10.1177/0007650319843623
                                    </p>
                                </div>
                                <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                                    language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                                    qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                                    <button>Read More</button>
                                </div>
                                <div class="article">
                                    <img src="/assets/width_800.png" />
                                    <h2 class="title">A theoretical model for measuring CSR/sustainability reports quality.</h2>
                                    <div class="source">
                                        <p>Business & Society, May 2019, SAGE Publications</p>
                                        <p>DOI: 10.1177/0007650319843623
                                        </p>
                                    </div>
                                    <p>This article presents a semiotics-based model to evaluate the quality of CSR reports by analyzing the
                                        language used. The model helps assess the transparency and accuracy of CSR communication, offering both
                                        qualitative and quantitative tools to improve corporate sustainability reporting.</p>
                                        <button>Read More</button>
                                    </div>
                                </section>
                            </div>
                        </div>