<div class="bio body" *ngIf="bio$ | async as bio">
    <div class="container">
        <section class="img">
            <img [src]="bio.items[0].fields.mainImage.fields.file.url" />
        </section>
        <section class="text">
            <div class="divider"  *ngFor="let each of bio.items[0].fields.bio">
                <p class="divider_title">{{each.fields.title}}</p>
                <p class="divider_content">{{each.fields.description.content[0].content[0].value}}
                </p>
            </div>
        </section>
    </div>
</div>
