<div class="contact body">
    <div class="container">
        <img src="/assets/contact.jpeg" />
        <div class="info">
            <h1>Thank You</h1>
            <div class="details">
                <p class="title">Contact</p>
                <p id="name">Kemi C Yekini. PhD</p>
                <div id="emails">
                    <a href="mailto:kyekini@hotmail.co.uk"><p>kyekini&#64;hotmail.co.uk</p></a>
                    <a href="mailto:k.yekini@aston.ac.uk"><p>k.yekini&#64;aston.ac.uk</p></a>
                </div>
            </div>
        </div>
    </div>
</div>