<div class="edu body">
    <section class="text">
        <h1>education</h1>
        <p class="description">Professor Kemi Yekini has a robust academic foundation, holding several degrees and professional
            qualifications. Her education in accounting and finance has provided a solid base for her research into
            sustainability and corporate governance. She also holds postgraduate certifications and is a Fellow of the
            Higher Education Academy (FHEA), among other honors.</p>
    </section>
    <section class="card">
        <div class="qualification">
            <h2 class="qualification_title">PhD in Accounting and Finance (2012)</h2>
            <p class="qualification_institution">Leicester Business School, De Montfort University</p>
            <div class="qualification_description">
                <p>Dissertation: "Corporate Community Involvement Disclosure: An Evaluation of the Motivation & Reality"
                </p>
                <p>Awarded with minor corrections within one week.</p>
            </div>
        </div>
        <div class="qualification">
            <h2 class="qualification_title">PhD in Accounting and Finance (2012)</h2>
            <p class="qualification_institution">Leicester Business School, De Montfort University</p>
            <div class="qualification_description">
                <p>Dissertation: "Corporate Community Involvement Disclosure: An Evaluation of the Motivation & Reality"
                </p>
                <p>Awarded with minor corrections within one week.</p>
            </div>
        </div>
        <div class="qualification">
            <h2 class="qualification_title">PhD in Accounting and Finance (2012)</h2>
            <p class="qualification_institution">Leicester Business School, De Montfort University</p>
            <div class="qualification_description">
                <p>Dissertation: "Corporate Community Involvement Disclosure: An Evaluation of the Motivation & Reality"
                </p>
                <p>Awarded with minor corrections within one week.</p>
            </div>
        </div>
        <div class="qualification">
            <h2 class="qualification_title">PhD in Accounting and Finance (2012)</h2>
            <p class="qualification_institution">Leicester Business School, De Montfort University</p>
            <div class="qualification_description">
                <p>Dissertation: "Corporate Community Involvement Disclosure: An Evaluation of the Motivation & Reality"
                </p>
                <p>Awarded with minor corrections within one week.</p>
            </div>
        </div>
    </section>
</div>