<section id="main" *ngIf="homePage$ | async as homePage">
    <div class="container">
        <div class="heroContent">
            <div>
                <p class="jobTitle">{{homePage.items[0].fields.nameOfPosition}} <strong>{{homePage.items[0].fields.companyName}}</strong></p>
                <div>
                    <h1>{{homePage.items[0].fields.name}}</h1>
                    <p>{{homePage.items[0].fields.typeOfWebsite}}</p>
                </div>
            </div>
            <div class="arrowsDiv">
                <div class="arrows">
                </div>
            </div>
        </div>
    </div>
</section>