<section id="main">
    <video autoplay muted loop id="heroVideo">
        <source
            src="https://media.istockphoto.com/id/1401511089/video/energy-lecture-screen.mp4?s=mp4-640x640-is&k=20&c=JEeSiNpTeksuLv8rtRPxWticO8uPCL3rIBtDSYJheUg="
            type="video/mp4">
    </video>

    <div class="heroContent">
        <p>Professor of Accounting <strong>Aston University</strong></p>
        <div>
            <h1>Dr. Kemi C Yekini</h1>
            <p>Director</p>
        </div>
        <p>Portfolio</p>
    </div>
</section>