<div class="intro body" *ngIf="intro$ | async as intro">
    <div class="container">
        <section class="text">
            <h1>{{intro.items[0].fields.title}}</h1>
            <p class="statement">{{intro.items[0].fields.description.content[0].content[0].value}}</p>
            </section>
            <section class="intro_portrait">
                <img loading="eager" [src]="intro.items[0].fields.image.fields.file.url"/>
                <p>{{intro.items[0].fields.caption}}</p>
            </section>
        </div>
</div>