<div class="testimonials body">
    <div class="container">
        <div class="title-container">
            <h1>testimonials</h1>
        </div>
        <section class="card-section">
            <div class="card">
                <img src="/assets/ebenezer.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Ebenezer (NG - Lagos Koyejo)</h2>
                        <p class="job-title">CEO at KOO Partners</p>
                    </div>
                    <p class="testimonial">
                        Kemi was a very dutiful staff who is always concerned in putting her best to the audit assignments
                        and
                        come out
                        with a very good work.She is also very committed to the long term goals of the firm.
                        I highly recommend her.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/ebenezer.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Ebenezer (NG - Lagos Koyejo)</h2>
                        <p class="job-title">CEO at KOO Partners</p>
                    </div>
                    <p class="testimonial">
                        Kemi was a very dutiful staff who is always concerned in putting her best to the audit assignments
                        and
                        come out
                        with a very good work.She is also very committed to the long term goals of the firm.
                        I highly recommend her.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/ebenezer.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Ebenezer (NG - Lagos Koyejo)</h2>
                        <p class="job-title">CEO at KOO Partners</p>
                    </div>
                    <p class="testimonial">
                        Kemi was a very dutiful staff who is always concerned in putting her best to the audit assignments
                        and
                        come out
                        with a very good work.She is also very committed to the long term goals of the firm.
                        I highly recommend her.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/ebenezer.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Ebenezer (NG - Lagos Koyejo)</h2>
                        <p class="job-title">CEO at KOO Partners</p>
                    </div>
                    <p class="testimonial">
                        Kemi was a very dutiful staff who is always concerned in putting her best to the audit assignments
                        and
                        come out
                        with a very good work.She is also very committed to the long term goals of the firm.
                        I highly recommend her.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>