<div class="testimonials body">
    <div class="container">
        <div class="title-container">
            <h1>testimonials</h1>
        </div>
        <section class="card-section">
            <div class="card">
                <img src="/assets/ebenezer.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Ebenezer (NG - Lagos Koyejo)</h2>
                        <p class="job-title">CEO at KOO Partners</p>
                    </div>
                    <p class="testimonial">
                        Kemi was a very dutiful staff who is always concerned in putting her best to the audit
                        assignments
                        and
                        come out
                        with a very good work.She is also very committed to the long term goals of the firm.
                        I highly recommend her.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/kumba.JPG">
                <div class="description">
                    <div class="person">
                        <h2>Dr Kumba Jallow
                        </h2>
                        <p class="job-title">Lecturer at De Montfort University</p>
                    </div>
                    <p class="testimonial">
                        I was fortunate to be Kemi's PhD supervisor. Her work was always of the highest quality; she
                        showed great academic abilities and studied independently and with great ability and insight.
                        She is a model academic!
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/jan.jpeg">
                <div class="description">
                    <div class="person">
                        <h2>Jan Meredith</h2>
                        <p class="job-title">Development Manager at South Leicestershire College</p>
                    </div>
                    <p class="testimonial">
                        Kemi is a highly skilled professional with a pragmatic, can do approach. I really enjoyed
                        working with her and found her supportive as well as fun to be around.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/seni.JPG">
                <div class="description">
                    <div class="person">
                        <h2>Seni Akinola</h2>
                        <p class="job-title">CEO at Private</p>
                    </div>
                    <p class="testimonial">
                        We both worked together at Adetona Ische & Co, now merged with Akintola Williams and know as
                        Deloitte Nigeria. Kemi is a meticulous, hardworking and very resourceful lady that believes in
                        excellence. She pays attention to details. I found her to be an excellent team player that
                        understands limits. She comes highly recommended
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>