<div class="work body" *ngIf="work$ | async as work" [style.--bg-color]="backgroundColor">
    <div class="container">
        <h1>{{work.items[0].fields.title}}</h1>
        <section class="card-section">
            <div class="work-experience-card" *ngFor="let workCard of work.items[0].fields.workExperienceCard">
                <div class="card-header">
                    <p class="job-duration">{{workCard.fields.dateFrom}}</p>
                    <h2 class="job-title">{{workCard.fields.jobTitle}}</h2>
                </div>
                <div class="company-details">
                    <img class="company-logo" [src]="workCard.fields.logo.fields.file.url">
                    <p class="company-name">{{workCard.fields.company}}</p>
                </div>
            </div>
        </section>
    </div>
</div>