<div class="work body" *ngIf="work$ | async as work" [style.--bg-color]="backgroundColor">
    <div class="container">
        <h1>{{work.items[0].fields.title}}</h1>
        <section class="card-section">
            <div class="card" *ngFor="let workCard of work.items[0].fields.workExperienceCard">
                <div class="card-title">
                    <p class="date">{{workCard.fields.dateFrom}}</p>
                    <h2 class="job-title">{{workCard.fields.jobTitle}}</h2>
                </div>
                <div>
                    <img [src]="workCard.fields.logo.fields.file.url">
                </div>
                <p class="caption">{{workCard.fields.company}}</p>
            </div>
        </section>
    </div>
</div>